
GUI/obj/Debug/GUI.csproj.AssemblyReference.cache
GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAO/obj/Debug/DAO.csproj.AssemblyReference.cache
BUS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BUS/obj/Debug/BUS.csproj.AssemblyReference.cache
