
@{
    ViewBag.Title = "Tổng quan";

    var countTour = ViewBag.countTour;
    var countTourInMonth = ViewBag.countTourInMonth;

    var countDoan = ViewBag.countDoan;
    var countDoanInMonth = ViewBag.countDoanInMonth;

    var countKhachHang = ViewBag.countKhachHang;

    var tongDoanhThu = ViewBag.tongDoanhThu;
    var tongDoanhThuThang = ViewBag.tongDoanhThuThang;



}
<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <h1 class="app-page-title"> Tổng quan/Thống kê</h1>


            <div class="row g-4 mb-4">
                <div class="col-6 col-lg-3">
                    <div class="app-card app-card-stat shadow-sm h-100">
                        <div class="app-card-body p-3 p-lg-4">
                            <h4 class="stats-type mb-1"><i class="fas fa-file-invoice-dollar"></i> Doanh thu</h4>
                            <div class="stats-figure">
                                <script>
                                    if (@tongDoanhThu < 0) {
                                        document.write('<span style="color: red;">' + new Intl.NumberFormat().format(@tongDoanhThu) + ' &#8363;</span>');
                                    } else {
                                        document.write('<span>' + new Intl.NumberFormat().format(@tongDoanhThu) + ' &#8363;</span>');
                                    }
                                </script>
                            </div>
                            <div class="stats-meta text-success">
                                <script>
                                    document.write('+' + new Intl.NumberFormat().format(@tongDoanhThuThang) + ' &#8363; tháng này');
                                </script>
                                
                            </div>
                            <!-- <div class="stats-meta text-success">
        <i class="fas fa-arrow-up"></i> 20%
    </div> -->
                        </div><!--//app-card-body-->
                        <a class="app-card-link-mask" href="#"></a>
                    </div><!--//app-card-->
                </div><!--//col-->

                <div class="col-6 col-lg-3">
                    <div class="app-card app-card-stat shadow-sm h-100">
                        <div class="app-card-body p-3 p-lg-4">
                            <h4 class="stats-type mb-1"><img src="/Content/images/icons/tourniquet.png" style="width: 9%;"> Tour</h4>
                            <div class="stats-figure">@countTour</div>
                            <div class="stats-meta text-success">
                                + @countTourInMonth tháng này
                            </div>
                        </div><!--//app-card-body-->
                        <a class="app-card-link-mask" href="#"></a>
                    </div><!--//app-card-->
                </div><!--//col-->
                <div class="col-6 col-lg-3">
                    <div class="app-card app-card-stat shadow-sm h-100">
                        <div class="app-card-body p-3 p-lg-4">
                            <h4 class="stats-type mb-1"><img src="/Content/images/icons/tour-bus.png" style="width: 9%;"> Đoàn du lịch</h4>
                            <div class="stats-figure">@countDoan</div>
                            <div class="stats-meta text-success">
                                + @countDoanInMonth tháng này
                            </div>
                        </div><!--//app-card-body-->
                        <a class="app-card-link-mask" href="#"></a>
                    </div><!--//app-card-->
                </div><!--//col-->
                <div class="col-6 col-lg-3">
                    <div class="app-card app-card-stat shadow-sm h-100">
                        <div class="app-card-body p-3 p-lg-4">
                            <h4 class="stats-type mb-1"><img src="/Content/images/icons/customer-insight--v1.png" style="width: 9%;"> Khách hàng</h4>
                            <div class="stats-figure">@countKhachHang</div>
                   
                        </div><!--//app-card-body-->
                        <a class="app-card-link-mask" href="#"></a>
                    </div><!--//app-card-->
                </div><!--//col-->
                
            </div><!--//row-->
            <div class="row g-4 mb-4">
                <div class="col-12 col-lg-6">
                    <div class="app-card app-card-chart h-100 shadow-sm">
                        <div class="app-card-header p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <h4 class="app-card-title"><i class="fas fa-funnel-dollar"></i> Biểu đồ doanh thu theo tháng - năm <script>document.write(new Date().getFullYear());</script> </h4>
                                </div><!--//col-->
                                
                            </div><!--//row-->
                        </div><!--//app-card-header-->
                        <div class="app-card-body p-3 p-lg-4">
                            <div class="chart-container">
                                <canvas id="canvas-doanhthuthang"></canvas>
                            </div>
                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                </div><!--//col-->
                <div class="col-12 col-lg-6">
                    <div class="app-card app-card-chart h-100 shadow-sm">
                        <div class="app-card-header p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <h4 class="app-card-title"><i class="fas fa-list-ol"></i> Top tour khách đăng ký nhiều nhất</h4>
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//app-card-header-->
                        <div class="app-card-body p-3 p-lg-4">
                            <div class="table-responsive">
                                <table class="table table-hover" id="tableTopTour">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="cell">#</th>
                                            <th scope="col" class="cell">Mã tour</th>
                                            <th scope="col" class="cell">Tên tour</th>
                                            <th scope="col" class="cell">Số lượng đoàn</th>
                                            <th scope="col" class="cell">Số lượng khách</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                </div><!--//col-->

            </div><!--//row-->
            <div class="row g-4 mb-4">
                <div class="col-12 col-lg-6">
                    <div class="app-card app-card-chart h-100 shadow-sm">
                        <div class="app-card-header p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <h4 class="app-card-title"><i class="far fa-money-bill-alt"></i> Top tour có doanh thu cao nhất</h4>
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//app-card-header-->
                        <div class="app-card-body p-3 p-lg-4">
                            <div class="table-responsive">
                                <table class="table table-hover" id="tableTopTourDoanhThu">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="cell">#</th>
                                            <th scope="col" class="cell">Mã tour</th>
                                            <th scope="col" class="cell">Tên tour</th>
                                            <th scope="col" class="cell">Doanh thu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                </div><!--//col-->
                <div class="col-12 col-lg-6">
                    <div class="app-card app-card-chart h-100 shadow-sm">
                        <div class="app-card-header p-3">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <h4 class="app-card-title"><i class="far fa-id-badge"></i> Top nhân viên đi tour nhiều nhất</h4>
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//app-card-header-->
                        <div class="app-card-body p-3 p-lg-4">
                            <div class="table-responsive">
                                <table class="table table-hover" id="tableTopNhanVien">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="cell">#</th>
                                            <th scope="col" class="cell">Mã nhân viên</th>
                                            <th scope="col" class="cell">Tên nhân viên</th>
                                            <th scope="col" class="cell">Số lần</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                </div><!--//col-->
            </div><!--//row-->
            

        </div><!--//container-fluid-->
    </div><!--//app-content-->

    <script>

        window.chartColors = {
            green: '#75c181',
            gray: '#a9b5c9',
            text: '#252930',
            border: '#e7e9ed'
        };
        var tongChiPhiThang1 = 0;
        var tongChiPhiThang2 = 0;
        var tongChiPhiThang3 = 0;
        var tongChiPhiThang4 = 0;
        var tongChiPhiThang5 = 0;
        var tongChiPhiThang6 = 0;
        var tongChiPhiThang7 = 0;
        var tongChiPhiThang8 = 0;
        var tongChiPhiThang9 = 0;
        var tongChiPhiThang10 = 0;
        var tongChiPhiThang11 = 0;
        var tongChiPhiThang12 = 0;

        var valueThang1 = 0;
        var valueThang2 = 0;
        var valueThang3 = 0;
        var valueThang4 = 0;
        var valueThang5 = 0;
        var valueThang6 = 0;
        var valueThang7 = 0;
        var valueThang8 = 0;
        var valueThang9 = 0;
        var valueThang10 = 0;
        var valueThang11 = 0;
        var valueThang12 = 0;

        var yearNow = new Date().getFullYear();

        //ajax get doanh thu vao chart
        $.ajax({
            url: "/TongQuan/GetDoanhSoTheoThangCuaNam",
            data: { yearValue: yearNow },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (resultDangKy) {
                $.each(resultDangKy, function (index) {
                    var monthAndYear = resultDangKy[index].MonthAndYear;
                    var totalMonth = resultDangKy[index].Total;
                    //ajax get all doan
                    $.ajax({
                        url: "/DoanDuLich/GetAllDoan",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (resultDoan) {
                            $.each(resultDoan, function (index) {
                                //console.log(result[index].maSoDoan);
                                var maSoDoanInDoan = resultDoan[index].maSoDoan;
                                var itemDoanYear = FormatDateGetYear(resultDoan[index].thoiGianKhoiHanh);
                                var itemDoanMonth = FormatDateGetMonth(resultDoan[index].thoiGianKhoiHanh);

                                $.ajax({
                                    url: "/TongQuan/GetAllChiPhi",
                                    type: "GET",
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    async: false,
                                    success: function (resultChiPhi) {
                                        $.each(resultChiPhi, function (index) {
                                            var maSoDoanInChiPhi = resultChiPhi[index].maSoDoan;

                                            if (monthAndYear === (yearNow + '-1') && itemDoanYear == yearNow && itemDoanMonth == 1) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang1 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang1 = totalMonth - tongChiPhiThang1;
                                            }
                                            if (monthAndYear === (yearNow + '-2') && itemDoanYear == yearNow && itemDoanMonth == 2) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang2 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang2 = totalMonth- tongChiPhiThang2;
                                            }
                                            if (monthAndYear === (yearNow + '-3') && itemDoanYear == yearNow && itemDoanMonth == 3) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang3 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang3 = totalMonth - tongChiPhiThang3;
                                            }
                                            if (monthAndYear === (yearNow + '-4') && itemDoanYear == yearNow && itemDoanMonth == 4) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang4 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang4 = totalMonth - tongChiPhiThang4;
                                            }
                                            if (monthAndYear === (yearNow + '-5') && itemDoanYear == yearNow && itemDoanMonth == 5) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang5 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang5 = totalMonth - tongChiPhiThang5;
                                            }
                                            if (monthAndYear === (yearNow + '-6') && itemDoanYear == yearNow && itemDoanMonth == 6) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang6 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang6 = totalMonth - tongChiPhiThang6;
                                            }
                                            if (monthAndYear === (yearNow + '-7') && itemDoanYear == yearNow && itemDoanMonth == 7) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang7 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang7 = totalMonth - tongChiPhiThang7;
                                            }
                                            if (monthAndYear === (yearNow + '-8') && itemDoanYear == yearNow && itemDoanMonth == 8) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang8 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang8 = totalMonth - tongChiPhiThang8;
                                            }
                                            if (monthAndYear === (yearNow + '-9') && itemDoanYear == yearNow && itemDoanMonth == 9) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang9 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang9 = totalMonth - tongChiPhiThang9;
                                            }
                                            if (monthAndYear === (yearNow + '-10') && itemDoanYear == yearNow && itemDoanMonth == 10) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang10 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang10 = totalMonth - tongChiPhiThang10;
                                            }
                                            if (monthAndYear === (yearNow + '-11') && itemDoanYear == yearNow && itemDoanMonth == 11) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang11 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang11 = totalMonth - tongChiPhiThang11;
                                            }
                                            if (monthAndYear === (yearNow + '-12') && itemDoanYear == yearNow && itemDoanMonth == 12) {
                                                if (maSoDoanInChiPhi === maSoDoanInDoan) {
                                                    tongChiPhiThang12 += resultChiPhi[index].tongChiPhi;
                                                }
                                                valueThang12 = totalMonth - tongChiPhiThang12;
                                            }


                                        })


                                    },
                                    error: function (errorMessage) {
                                        alert(errorMessage.responseText);
                                    }
                                });

                            })


                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });

                })



                window.addEventListener('load', function () {
                    var doanhThuThangChart = document.getElementById('canvas-doanhthuthang').getContext('2d');
                    window.doanhThuThang = new Chart(doanhThuThangChart, doanhThuThangConfig);
                });
                //set giá trị cho biểu đồ
                var labels = ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
                var doanhThuThangConfig = {
                    type: 'line',

                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Doanh thu (đ)',
                            data: [
                                valueThang1,
                                valueThang2,
                                valueThang3,
                                valueThang4,
                                valueThang5,
                                valueThang6,
                                valueThang7,
                                valueThang8,
                                valueThang9,
                                valueThang10,
                                valueThang11,
                                valueThang12,
                            ],
                            fill: false,
                            borderColor: window.chartColors.green,
                            tension: 0.1
                        }]
                    },
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return "Doanh thu (đ): " + tooltipItem.yLabel.toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                }
                            }
                        },
                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        callback: function (label, index, labels) {
                                            return label.toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                        }
                                    },
                                }
                            ]
                        }
                    }

                };

            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });

        function FormatNumber(numberValue) {
            var numberResult = new Intl.NumberFormat().format(numberValue);
            return numberResult;
        }

        function FormatDateGetYear(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth() + 1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = year;

            return finalDate;
        }

        function FormatDateGetMonth(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth() + 1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = month;

            return finalDate;
        }


        //top tour đăng ký nhiều nhất
        $.ajax({
            url: "/TongQuan/TopTourDangKyNhieu",
            data: { topNumber: 5 },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (resultTopTour) {
                $('#tableTopTour tbody tr').remove(); //xoa row truoc khi add
                var indexCount = 1;
                $.each(resultTopTour, function (index) {
                    var maSoTourTopTour = resultTopTour[index].maTour;
                    var tenTour = resultTopTour[index].tenTour;
                    var totalDangKy = resultTopTour[index].TotalDangKy;
                    
                    $.ajax({
                        url: "/TongQuan/GetSoLuongDoan",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (resultDoan) {
                            
                            $.each(resultDoan, function (index) {
                                var maSoTourDoan = resultDoan[index].maTour;
                                var totalDoan = resultDoan[index].TotalDoan;
                                
                                if (maSoTourTopTour == maSoTourDoan) {
                                    $('#tableTopTour tbody').append("<tr><th scope = 'row' >" + (indexCount++) + "</th><td>" + maSoTourTopTour + "</td><td>" + tenTour + "</td><td>" + totalDoan + "</td><td>" + totalDangKy + "</td></tr >");

                                }

                            });

                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                });
                
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });

        var chiPhi1 = 0;
        
        //top tour doanh thu cao nhất
        $.ajax({
            url: "/TongQuan/GetDoanhSoDangKyAllTour",
            data: { numberLimit: 5},
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (resultDoanhSo) {
                $('#tableTopTourDoanhThu tbody tr').remove(); //xoa row truoc khi add
                var indexCount = 1;
                $.each(resultDoanhSo, function (index) {
                    var maSoTourDS = resultDoanhSo[index].maSoTour;
                    var tenTourDS = resultDoanhSo[index].tenTour;
                    var totalGiaVe = resultDoanhSo[index].totalGiaVe;

                    $.ajax({
                        url: "/TongQuan/GetChiPhiAllDoan",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (resultChiPhi) {
                            $.each(resultChiPhi, function (index) {
                                var maSoTourChiPhi = resultChiPhi[index].maSoTour;
                                var totalChiPhi = resultChiPhi[index].totalChiPhi;

                                if (maSoTourDS == maSoTourChiPhi) {
                                    var totalDoanhThu = totalGiaVe - totalChiPhi; 
                                    $('#tableTopTourDoanhThu tbody').append("<tr><th scope = 'row' >" + (indexCount++) + "</th><td>" + maSoTourDS + "</td><td>" + tenTourDS + "</td><td>" + new Intl.NumberFormat().format(totalDoanhThu) + " đ</td></tr >");
                                }

                            });
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });

                });
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });


        //top nhân viên đi tour nhiều nhất
        $.ajax({
            url: "/TongQuan/GetSoLanDiTourNhanVien",
            data: { numberLimit: 5 },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                $('#tableTopNhanVien tbody tr').remove(); //xoa row truoc khi add
                var indexCount = 1;
                $.each(result, function (index) {
                    var maNhanVien = result[index].maNhanVien;
                    var tenNhanVien = result[index].tenNhanVien;
                    var soLanDiTour = result[index].soLanDiTour;

                    $('#tableTopNhanVien tbody').append("<tr><th scope = 'row' >" + (indexCount++) + "</th><td>" + maNhanVien + "</td><td>" + tenNhanVien + "</td><td>" + soLanDiTour + "</td></tr >");
                });
                
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });



    </script>


</div><!--//app-wrapper-->
